@font-face {
  font-family: 'PaluiSP';
  src: url('/fonts/PaluiSPDemo-Bold.woff') format('woff');
  font-weight: bold; /* Обычно normal, но можно указать bold, если шрифт поддерживает этот вес */
  font-style: normal; /* Можно указать italic или normal */
}
