.modal {
  width: 100vw;
  height: 100vh;
  padding: 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  gap: 1em;

  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  backdrop-filter: blur(10px); /* Применение размытия к фону */
  z-index: 1000;

  .modal__close {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .modal__image_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__image {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }

  .modal__description {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 2;
    padding: 2em;
    color: var(--white-text-color);

    .parameters {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .parametr {
        padding: 0.5em;
        display: flex;
        align-items: center;
        gap: 0.5em;

        border-bottom: 2px solid var(--white-text-color);
        img {
          width: 2em;
          height: 2em;
        }

        span {
          font-size: 1.5em;
        }
      }
    }

    h1 {
      align-self: center;
    }
  }
}


