body,
html,
#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: scroll; /* Чтобы прокрутка оставалась доступной */
}

/* Для WebKit-браузеров */
body::-webkit-scrollbar {
  display: none; /* Скрывает полосы прокрутки */
}

ol,
ul {
  list-style: none;
  padding: 0;
}

body,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}